body {
    margin: 0;
}

footer {
    background-color: gray;

}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category {
    background: transparent;
    cursor: pointer;    
}

.category-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0,0.8);
    transform: translateX(-100vw);
    transition: 0.5s;
}


.menu-on {
    overflow: hidden;
    height: 100%;
}

.menu-on .category-menu {
    /* display: block; */
    transform: translateX(0);
}
