    body {
        margin: 0 auto;
    }

    .top {
        display: flex;
        background-color: #e72244;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    .center {
        font-weight: bold;
        font-size: 18px;
        font-family: 나눔스퀘어;
        color: white;
    }

    .left {
        margin: 00px 0px 0px 10px;
    }

    .right  {
        margin: 0px 10px 0px 0px;
    }