body {
    margin: 0;
    font-family: 나눔스퀘어, Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #fff;
}

.topnav a {
    float: left;
    color: #686868;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    color: #e72244;
    font-weight: bold;
    border-bottom: 3px solid red;
}